---
---
<nav>
  <div class="logo">&lt;/ Azcurra Matias /&gt;</div>
  <ul class="nav-links">
    <li><a href="#home">Inicio</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Proyectos</a></li>
    <li><a href="#contact">Contacto</a></li>
  </ul>
</nav>
